* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: #eee;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px #aaa;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 40px;
  z-index: 10000000;
}
header nav .list {
  display: none;
  color: #222;
  font-size: 25px !important;
  font-weight: 700 !important;
}
@media (max-width: 500px) {
  header nav .list {
    display: inline-block;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}
header nav ul li a {
  color: #222;
}
header nav ul li a i {
  font-size: 25px !important;
  font-weight: 700 !important;
}
header nav ul li a img {
  height: 35px;
}
@media (max-width: 500px) {
  header nav ul {
    display: none;
  }
}
header article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: system-ui;
  color: #05058a;
}
header .lang {
  border-radius: 50%;
  width: 20px;
  height: 30px;
}

.top-baner {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: calc(100vh - 60px);
  padding: 0 80px;
  margin-top: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (min-width: 700px) and (max-width: 900px) {
  .top-baner {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .top-baner {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .top-baner {
    flex-direction: column;
    padding: 0;
  }
}
.top-baner img {
  height: calc(90vh - 60px);
  max-width: 100%;
}
@media (min-width: 700px) and (max-width: 900px) {
  .top-baner img {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .top-baner img {
    width: 90%;
    height: auto;
  }
}
.top-baner .fire {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 63vh;
  left: 27%;
  transform: rotate(45deg);
  -webkit-animation: slidein 10s 2s infinite;
          animation: slidein 10s 2s infinite;
}
@media (max-width: 500px) {
  .top-baner .fire {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
}
.top-baner article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #eee;
}
@media (min-width: 700px) and (max-width: 900px) {
  .top-baner article {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .top-baner article {
    align-items: center;
  }
}
.top-baner article span {
  color: #aaa;
}
.top-baner article h2 {
  font-size: 42px;
}
@media (max-width: 500px) {
  .top-baner article h2 {
    font-size: 30px;
  }
}
.top-baner article i {
  color: #d45601;
}
@media (max-width: 500px) {
  .top-baner article h3 {
    font-size: 15px;
  }
}
.top-baner article h3 span {
  color: #eee;
  font-size: 32px;
}
@media (max-width: 500px) {
  .top-baner article h3 span {
    font-size: 17px;
  }
}
.top-baner article .bonas {
  font-size: 25px;
}
.top-baner article article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 30px;
}
.top-baner article article span {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.top-baner article a {
  display: inline-block;
  padding: 10px 79px;
  background: #05058a;
  color: #eee;
  font-weight: 600;
  border-radius: 5px;
  transition: 1s ease;
}
.top-baner article a:hover {
  transform: scale(1.1);
}

@-webkit-keyframes slidein {
  0% {
    transform: translateX(0%) rotate(45deg);
  }
  20% {
    transform: translateX(800%) rotate(30deg);
  }
  50% {
    transform: translateX(800%) rotate(-50deg) translateY(-700%);
  }
  60% {
    transform: translateX(800%) rotate(-50deg) translateY(-600%);
  }
  70% {
    transform: translateX(600%) rotate(-90deg) translateY(-600%);
  }
  80% {
    transform: translateX(0%) rotate(-135deg) translateY(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0%) rotate(45deg);
  }
  20% {
    transform: translateX(800%) rotate(30deg);
  }
  50% {
    transform: translateX(800%) rotate(-50deg) translateY(-700%);
  }
  60% {
    transform: translateX(800%) rotate(-50deg) translateY(-600%);
  }
  70% {
    transform: translateX(600%) rotate(-90deg) translateY(-600%);
  }
  80% {
    transform: translateX(0%) rotate(-135deg) translateY(0%);
  }
}
.title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #eee;
}

.cards {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 700px) {
  .cards {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .cards {
    flex-direction: column;
    gap: 30px;
  }
}
.cards .card {
  width: calc(33.3333333333% - 20px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 20px;
  box-shadow: 0 0 5px #aaa;
  position: relative;
  border-radius: 10px;
  transition: 1s ease;
}
@media (max-width: 700px) {
  .cards .card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 500px) {
  .cards .card {
    width: calc(100% - 20px);
  }
}
.cards .card:hover {
  transform: scale(1.05);
}
.cards .card .title-card {
  position: absolute;
  width: calc(100% - 80px);
  left: 40px;
  top: -15px;
  color: #eee;
  background: #d45601;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cards .card .title-card::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #d45601;
  top: calc(100% - 5px);
  left: calc(50% - 5px);
  transform: rotate(45deg);
}
.cards .card img {
  width: 100%;
}
.cards .card h2 {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cards .card .price {
  color: #d45601;
}
.cards .card ul {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.cards .card ul i {
  color: #d45601;
}
.cards .card ul span {
  color: #eee;
}
.cards .card .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.cards .card .link span {
  padding: 5px 25px;
  background: #d45601;
  border-radius: 5px;
  color: #eee;
  transition: 1s ease;
}
.cards .card .link span:hover {
  transform: scale(1.1);
}

.bottom {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  background-image: url(../images/assets/go-up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-attachment: fixed;
}

.under-bottom {
  width: 100%;
  height: calc(100vh - 60px);
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .under-bottom {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.under-bottom .left {
  width: 50%;
  padding: 20px;
}
@media (max-width: 500px) {
  .under-bottom .left {
    width: 100%;
  }
}
.under-bottom .left img {
  max-width: 100%;
}
.under-bottom .right {
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .under-bottom .right {
    width: 100%;
    align-items: center;
  }
}
.under-bottom .right p {
  max-width: 100%;
}
@media (max-width: 500px) {
  .under-bottom .right p {
    text-align: center;
  }
}
.under-bottom .right a {
  padding: 5px 30px;
  background: #05058a;
  color: #eee;
  border-radius: 5px;
  transition: 1s ease;
}
.under-bottom .right a:hover {
  transform: scale(1.1);
}

.regiser-header {
  height: 60px;
  text-align: left;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.regiser-header h3 {
  color: #05058a;
}

.registerform {
  width: 500px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.registerform h2 {
  color: #05058a;
}
.registerform .enter-data {
  color: #DBE3FF;
  height: 40px;
  border: 1px solid #DBE3FF;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.registerform .enter-data i {
  color: #05058a;
  margin-right: 5px;
}
.registerform input[type=text], .registerform input[type=password], .registerform input[type=email] {
  border: none;
}
.registerform input[type=text]:focus, .registerform input[type=password]:focus, .registerform input[type=email]:focus {
  outline: none;
}
.registerform li {
  list-style: none;
}
.registerform button {
  background-color: #05058a;
  border: none;
  width: 300px;
  padding: 10px 2px;
  border-radius: 10px;
}/*# sourceMappingURL=min.css.map */