.top-baner {
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 60px);
    padding: 0 80px;
    margin-top: 60px;
    position: relative;
    @include flex (center , space-between);
    @include breakpoints (smull) {
        flex-direction: column;
    }
    @include breakpoints (bigmobile) {
        flex-direction: column;
    }
    @include breakpoints (mobile) {
        flex-direction: column;
        padding: 0;
    }

    img {
        height: calc(90vh - 60px);
        max-width: 100%;
        @include breakpoints (smull) {
            width: 90%;
            height: auto;
        }
        @include breakpoints (mobile) {
            width: 90%;
            height: auto;
        }
    }
    .fire {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 63vh;
        left: 27%;
        transform: rotate(45deg);
        animation: slidein 10s 2s infinite ;
        @include breakpoints (mobile) {
            animation: none ;
            display: none;
        }
    }
    article {
        @include flex ( flex-start ,center , 15px , column);
        @include breakpoints (smull) {
            align-items: center;
        }
        @include breakpoints (mobile) {
            align-items: center;
        }
        color: $back-tow;
        span {
            color: $borders;
        }
        h2 {
            font-size: 42px;
            @include breakpoints (mobile) {
                font-size: 30px;
            }
        }
        i {
            color: $front-tow;
        }
        h3 {
            @include breakpoints (mobile) {
                font-size: 15px;
            }
            span {
                color: $back-tow;
                font-size: 32px;
                @include breakpoints (mobile) {
                    font-size: 17px;
                }
            }
        }
        .bonas {
            font-size: 25px;
        }
        article {
            @include flex (center , flex-start , 5px);
            font-size: 30px;
            span {
                font-size: 30px;
                width: 50px;
                height: 50px;
                border: 1px solid $back-tow;
                border-radius: 5px;
                @include flex (center , center);
            }
        }
        a {
            display: inline-block;
            padding: 10px 79px;
            background: $front-one;
            color: $back-tow;
            font-weight: 600;
            border-radius: 5px;
            transition: 1s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
@keyframes slidein {
    0% {
      transform: translateX(0%)rotate(45deg);
    }

    20% {
      transform: translateX(800%) rotate(30deg);
    }
    50% {
        transform: translateX(800%) rotate(-50deg) translateY(-700%);
      }
      60% {
        transform: translateX(800%) rotate(-50deg) translateY(-600%);
      }
      70% {
        transform: translateX(600%) rotate(-90deg) translateY(-600%);
      }
      80% {
        transform: translateX(0%) rotate(-135deg) translateY(0%);
      }

  }
.title {
    width: 100%;
    height: 60px;
    @include flex (center , center);
    color: $back-tow;
}
.cards {
    width: 100%;
    height: fit-content;
    padding: 20px;
    @include flex (center , center , 20px);
    @include breakpoints (bigmobile) {
        flex-direction: column;
        gap: 30px;
    }
    @include breakpoints (mobile) {
        flex-direction: column;
        gap: 30px;
    }

    .card {
        width: calc(100% / 3 - 20px);
        height: fit-content;
        padding-bottom: 20px;
        box-shadow: 0 0 5px $borders;
        position: relative;
        border-radius: 10px;
        transition: 1s ease;
        @include breakpoints (bigmobile) {
            width: calc(100% - 20px);
        }
        @include breakpoints (mobile) {
            width: calc(100% - 20px);
        }
        &:hover {
            transform: scale(1.05);
        }
        .title-card {
            position: absolute;
            width: calc(100% - 80px);
            left: 40px;
            top: -15px;
            color: $back-tow;
            background: $front-tow;
            border-radius: 5px;
            padding: 5px 15px;
            @include flex (center , center);
            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: $front-tow;
                top: calc(100% - 5px);
                left: calc(50% - 5px);
                transform: rotate(45deg);
            }
        }
        img {
            width: 100%;
        }
        h2 {
            color: $back-tow;
            @include flex (center , center);
        }
        .price {
            color: $front-tow;
        }
        ul {
            padding: 10px;
            @include flex (flex-start , flex-start , 7px, column);
            i {
                color: $front-tow;
            }
            span {
                color: $back-tow;
            }
        }
        .link {
            @include flex (center , center);
            width: 100%;
            span {
                padding: 5px 25px;
                background: $front-tow;
                border-radius: 5px;
                color: $back-tow;
                transition: 1s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
.bottom {
    width: 100%;
    height: calc(100vh - 60px);
    @include flex (center , center);
    background-image: url(../images/assets/go-up.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-attachment: fixed;
}
.under-bottom {
    width: 100%;
    height: calc(100vh - 60px);
    background: $back-tow;
    @include flex (center , space-between);
    @include breakpoints (mobile) {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        padding-bottom: 20px;
    }

    .left {
        width: 50%;
        padding: 20px;
        @include breakpoints (mobile) {
            width: 100%;
        }

        img {
            max-width: 100%;
        }
    }
    .right {
        width: 50%;
        padding: 50px;
        @include flex (flex-start , flex-start , 20px , column);
        @include breakpoints (mobile) {
            width: 100%;
            align-items: center;
        }

        p {
            max-width: 100%;
            @include breakpoints (mobile) {
                text-align: center;
            }
        }
        a {
            padding: 5px 30px;
            background: $front-one;
            color: $back-tow;
            border-radius: 5px;
            transition: 1s ease;
            &:hover {
                transform: scale(1.1);
            }
        }

    }
}
